@(message: String) @import controllers.routes

@main("CrowdProcessDesigner") {
	<div id="canvas-container">
			<canvas id="c"></canvas>
	</div>
	<div class="container center bg-black full">
	  <div class="row gutters">
	    @mainElements.navbar()
	  </div>
	</div>
	<div id="notification" class="bg-green"></div>
	<div class="container center full">
	  <div class="row">
	    <div id="centerView" class="column-14 bg-black bg-light-gray backbone-view push-1">
	    </div>
	  </div>
	</div>
	@mainElements.canvasElements()
}
