#canvas-element-container {
  position: absolute;
  bottom: 0;
  left: 25%;
  display: block;
}
.canvas-element {
  float:left;
}
.canvas-element:hover .tooltip {
  visibility: visible;
  transition-delay:0.5s;
}
