// d3js tree
.node {
  cursor: pointer;

}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;

}
.node text {
  font: 12px sans-serif;

}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
