@import "concise/concise.less";
@import "d3Tree.less";
@import "modal.less";
@import "canvasElements.less";
@import "tooltip.less";
@import "video.less";
@import "notification.less";

#canvas-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

}
.backbone-view {
  z-index: 12;
  position: relative;

}
.hidden {
  display: none;

}
