.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
.modal {
  width: 600px;
  height: 130px;
  line-height: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -300px;
  background-color: red;
  border-radius: 5px;
  text-align: center;
  z-index: 11;
}
