#notification{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    left: 40%;
    text-align: center;
    margin-top: 20px;
    z-index: 999;
    padding: 5px;
    border-radius: 3px;

     animation:notification 0.5s 1;
    -webkit-animation:notification 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2s;
    -webkit-animation-delay:1s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

}

@keyframes notification{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes notification{
    from {opacity :1;}
    to {opacity :0;}
}
