.grid(@boolean) when (@boolean = true) {
  //------------------------------------
  //  GRID
  //------------------------------------
  .row {
    width: 100%;
    
    &:after {
      clear: both;
      content: " ";
      display: table;
    }
  }

  [class*=@{column-prefix}] {
    .vendor(background-clip, padding-box) !important;
    
    &.right { float: right; }
    
    img { max-width: 100%; }
  }

  @media @small {
    [class*=@{column-prefix}] { float: left; }
    
    .gutters [class*=@{column-prefix}] {
      margin-left: @gutters;
      
      &:first-child { margin-left: 0; }
    }
    
    
    // Row columns    
    .grid-setup(@column-number);
    
    
    // Push
    
    // Thanks to inuitcss (https://github.com/csswizardry/inuit.css) for the idea to
    // abstract 'push' and 'pull' into their own mixins. This makes adding/removing
    // them to projects absolutely painless. 
    .push(@boolean) when (@boolean = true) {
      [class*='push-'] { position: relative; }
      
      .push-setup(@column-number); 
    }
    
    .push(@use-push);

     .push-1 {
        left: 6.25%;
      }
    
    
    // Pull
    .pull(@boolean) when (@boolean = true) {
      [class*='pull-'] { position: relative; }
      
      .pull-setup(@column-number);
    }
    
    .pull(@use-pull); 
  }


  // Non-responsive grid
  .non-responsive {
    [class*=@{column-prefix}] {
      float: left;
      width: auto !important; 
    }
    
    .gutters [class*=@{column-prefix}], 
    &.gutters [class*=@{column-prefix}] { margin-left: @gutters; }
    
    .gutters [class*=@{column-prefix}]:first-child, 
    &.gutters [class*=@{column-prefix}]:first-child { margin-left: 0; }
  }
}

.grid(@use-grid); 