@import controllers.routes

<div id="canvas-element-container">
  <div class="imgWrap canvas-element">
    <img id="File" class="canvas-element" draggable="true" src="@routes.Assets.versioned("images/elements/File.png")">
    <p class="tooltip"><b>File Task</b>:<br>Denotes a read/write operation and returns the input. By Clicking on it on the execution tree, the artifact will be opened.</p>
  </div>
  <div class="imgWrap canvas-element" >
    <img id="HCT" class="canvas-element" draggable="true" src="@routes.Assets.versioned("images/elements/HCT.png")">
    <p class="tooltip"><b>Human Computation Task</b>:<br>A Task which is executed on a Crowd Platform such as CrowdFlower requiring worker input.</p>
  </div>
  <div class="imgWrap canvas-element">
    <img id="MCT" class="canvas-element" draggable="true" src="@routes.Assets.versioned("images/elements/MCT.png")">
    <p class="tooltip"><b>Machine Computation Task</b>:<br>A computational task such as calculating agreements between worker inputs.</p>
  </div>
  <div class="imgWrap canvas-element">
    <img id="Loop" class="canvas-element" draggable="true" src="@routes.Assets.versioned("images/elements/Loop.png")">
    <p class="tooltip"><b>Loop Task</b>:<br>A loop construct which additionally may loop over a part of the data only.</p>
  </div>
  <div class="imgWrap canvas-element">
    <img id="Process" class="canvas-element" draggable="true" src="@routes.Assets.versioned("images/elements/Process.png")">
    <p class="tooltip"><b>Process Task</b>:<br>A non-trivial task which denotes a predefined process such as Find-Fix-Verify.</p>
  </div>
  <div class="imgWrap canvas-element">
    <img id="DataFlow" class="canvas-element" draggable="true" src="@routes.Assets.versioned("images/elements/DataFlow.png")">
    <p class="tooltip"><b>Data Flow</b>:<br>Defines the data flow by connecting tasks.</p>
  </div>
  <div class="imgWrap canvas-element">
    <img id="Split" class="canvas-element" draggable="true" src="@routes.Assets.versioned("images/elements/Split.png")">
    <p class="tooltip"><b>Split Task</b>:<br>Splits the output among all connected objects.</p>
  </div>
  <div class="imgWrap canvas-element">
    <img id="Divide" class="canvas-element" draggable="true" src="@routes.Assets.versioned("images/elements/Divide.png")">
    <p class="tooltip"><b>Divide Task</b>:<br>Divides the input into chunks. E.g. splitting a text into several paragraphs.</p>
  </div>
  <div class="imgWrap canvas-element">
    <img id="IfElse" class="canvas-element" draggable="true" src="@routes.Assets.versioned("images/elements/If.png")">
    <p class="tooltip"><b>If/Else Task</b>:<br>Depending on a given criteria, forwards the data for which the criteria is true to the first connected data flow, and the rest of the data to the second.</p>
  </div>
  <div class="imgWrap canvas-element">
    <img id="Union" class="canvas-element" draggable="true" src="@routes.Assets.versioned("images/elements/Union.png")">
    <p class="tooltip"><b>Union Task</b>:<br>Aggregates several input of a previous split or a task with multiple connections into one output.</p>
  </div>
  <div class="imgWrap canvas-element">
    <img id="Combine" class="canvas-element" draggable="true" src="@routes.Assets.versioned("images/elements/Combine.png")">
    <p class="tooltip"><b>Combine Task</b>:<br>A dataflow is a list of several chunks (parts). The combine task aggregates them into one. E.g. several paragraphs are combined to one text.</p>
  </div>
</div>
