<nav id="navbar" class="nav-dropdown">

  <ul class="list-inline">
    <li><a href="#">CrowdProcessDesigner</a>
    </li>
    <li><a href="#">Process<span class="caret"></span></a>
      <ul>
        <li>
        </i><a id="save">Save Local<i class="fa fa-floppy-o pull-right"></a></i>
        </li>
        <li><a id="load">Load Local<i class="fa fa-cloud-upload pull-right"></i></a>
        </li>
        <li>
          <input id="upload" type="file" class="hidden" />
          <a href="" id="uploadLink">Upload<i class="fa fa-upload pull-right"></i></a>
        </li>
        <li>
          <a id="downloadAsJson" download="process.json">Download​<i class="fa fa-download pull-right"></i></a>
        </li>
        <li><a id="run">Run Process<i class="fa fa-cogs pull-right"></i></a>
        </li>
        <!--<li><a id="nextStep">Next Step</a>
      </li>-->
      </ul>
    </li>

    <li><a href="#">Execution<span class="caret"></span></a>
      <ul>
        <li><a id="log">Log</a>
        </li>
        <li>
          <input id="uploadLogs" type="file" class="hidden" />
          <a href="" id="uploadLogsLink">Upload<i class="fa fa-upload pull-right"></i></a>
        </li>
        <li>
          <a id="downloadLogs" download="logs.json">Download​<i class="fa fa-download pull-right"></i></a>
        </li>
        <li><a id="chart">Statistics<i class="fa fa-bar-chart pull-right"></i></a>
        </li>
        <li><a id="tree">Exec. Tree</a>
        </li>
      </ul>
    </li>

    <li><a href="#">Other<span class="caret"></span></a>
      <ul>
        <li><a id="portalSettings">Portal Settings</a>
        </li>
        <li><a id="processes">Processes</a>
        </li>
      </ul>
    </li>

    <li><a href="#">Help<span class="caret"></span></a>
      <ul>
        <li><a id="introduction">Introduction<i class="fa fa-video-camera pull-right"></i></a>
        </li>
        <li><a id="documentation">Documentation<i class="fa fa-question-circle pull-right"></i></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
