<div class="row">
  <div class="column-6">
    <form>
    <label>Chart Type:</label>
    <select name="chartType" class="form-control">
        <% _.each(chartTypes, function(chartType) { %>
          <option value="<%- chartType %>">
            <%- chartType %>
          </option>
          <% } ) %>
    </select>

    <label>Data:</label>
    <select name="data" class="form-control">
        <% _.each(data, function(selectedData) { %>
          <option value="<%- selectedData %>">
            <%- selectedData %>
          </option>
          <% } ) %>
    </select>
    <p>
    <input type="button" id="updateChart" value="Update" class="btn btn-small border gray pill">
  </p>
</form>
  </div>
  <div class="column-9">
    <div id="legendToolTip" class="tooltip">asdasd</div>
    <canvas id="logChart" width="600" height="600"></canvas>
  </div>
  <div class="column-1 pull-right">
    <button id="closeChartView" type="button" class="close">×</button>
  </div>
</div>
