<button id="closeDocumentationView" type="button" class="close">×</button>

<h1>Documentation</h1>
<hr>
<h3>Controls</h3>
<ul>
  <li>Add elements by <kbd>drag and drop</kbd>
  </li>
  <li>Remove elements with a single click on the element and pressing <kbd>Delete</kbd></li>
    <li>Connect elements by dragging the edges of the arrow</li>
    <li>Zoom in/out by using the <kbd>mousewheel</kbd>
    </li>
    <li>Press <kbd>ctrl</kbd> and keep it pressed for panning</li>
</ul>

<h3>Process Execution</h3> A process is a <code>List()</code> of elements that need processing. Therefore each dataflow represents a message containing the list. In the process below, we translate a text (<code>string</code>). In the first step, the list only contains one element
(the text). We then split the element according to the given configuration (e.g. into paragraphs). The HCT represents a task where <code>N</code> human workers translate each a paragraph. The C (for Combine) combines the translated paragraphs into a complete
text. This text is then written to an output file.
<br>
<img src="/assets/images/translateProcess.png" alt="Translate Process">
