<button id="closeIntroductionView" type="button" class="close">×</button>

<div class="center">
  <video controls>
    <source src="assets/video/introduction.ogv" type="video/ogg">
    <source src="assets/video/introduction.mp4" type="video/mp4">
    <track label="CrowdProcessDesigner Introduction" kind="subtitles" srclang="en" src="assets/video/introduction.vtt" default=""></track>
        Your browser does not support the video tag.
  </video>
</div>
