<button id="closeLogView" type="button" class="close">×</button>

<div class="table-responsive">
  <table class="table table-full">
     <thead>
          <tr>
          <% _.each(columns, function(column) { %>
          	 <th scope="col"><%-column%></th>
          <% } ) %>
          </tr>
        </thead>
        <tbody>
          <% _.each(logs, function(log) { %>
	          <tr>
	          <% _.each(columns, function(column) { %>
	          	<td><%
	          	if((log.eventType.indexOf("TaskStart") >-1 || log.eventType.indexOf("TaskFinished") >-1) && column == 'data') {
	          		%><%-new Date(log[column]).toTimeString() %><%
	          	} else if(log.eventType == "TaskSettings" && column == 'data') {
                %><%-JSON.stringify(log[column]).replace(/("|{|})/g, "") %><%
              }
              else {
	          		%><%-log[column] %><%
	          	}
	          	%></td>
	          <% } ) %>
	          </tr>
          <% } ) %>

        </tbody>
  </table>
</div>
