<form>
<p>
<label>Tasks:</label>
<select id=<%-name%> name=<%-name%> class="form-control">
		<option></option>
		<% _.each(tasks, function(task) { %>
			<option
			<% if(selected && selected.value == task.className + "," + task.information.name ) { %> selected <% }%>
			value="<%= task.className + "," + task.information.name %>"
			>
			<%= task.information.name %>
			</option>
		<% } ) %>
</select>
</p>

<p>
<% _.each(inputs, function(input) {
	%>
		<label><%-input.name%>:</label>
	<%
	if(input.value instanceof Array) {
		%>
		<select id=<%-input.name%> name=<%-input.name%> class="form-control">
				<option></option>
				<% _.each(input.value, function(value) { %>
					<option
					<% if(inputValues[input.name] == _.last(value.toString().split(","))) { %> selected <% }%>
					value="<%= _.last(value.toString().split(","))%>">
					<%= _.escape(_.first(value.toString().split(","))) %>
					</option>
				<% } ) %>
		</select>
		<%
	} else if(input.name == "FreeText") {
		%>
		<textarea name=<%-input.name%>>
			<%-inputValues[input.name] ? inputValues[input.name] : _.escape(input.value)%>
		</textarea>
		<%
	}
	else {
		%>
			<input type="text" name=<%-input.name%> value="<%-inputValues[input.name] ? inputValues[input.name] : _.escape(input.value)%>">
		<%
	}
}); %>
</p>

<p>
	<input type="button" id="saveButton" value="Save" class="btn btn-small border gray pill">
</p>

</form>
