<form>

<button id="closePortalView" type="button" class="close">×</button>

<label>Portals:</label>
<select id=<%-name%> name=<%-name%> class="form-control">
		<option></option>
		<% _.each(portals, function(portal) { %>
			<option
			<% if(selected && selected.value == portal.className + "," + portal.information.name ) { %> selected <% }%>
			value="<%= portal.className + "," + portal.information.name %>"
			>
			<%= portal.information.name %>
			</option>
		<% } ) %>
</select>

<% _.each(inputs, function(input) {

%>
<label><%-input.name%>:</label>
<%
if(input.value instanceof Array) {
%>
<select id=<%-input.name%> name=<%-input.name%> class="form-control">
		<option></option>
		<% _.each(input.value, function(value) { %>

			<option
			<% if(selected && selected.value == value) { %> selected <% }%>
			value="<%= _.last(value.toString().split(","))%>"
			>
			<%= _.first(value.toString().split(",")) %>
			</option>
		<% } ) %>
</select>
<%
} else {
%>
<input type="text" name=<%-input.name%> value=<%-input.value%>>
<%
}

}); %>

<br>
<br>
<input type="button" id="saveButton" value="Save" class="btn btn-small border gray pill">
</form>
