<form>

<button id="closeProcessView" type="button" class="close">×</button>

<label>Processes:</label>

		<% _.each(processes, function(process) { %>
			<a id=<%- process.bundleId + "," + process.processName %> process>
				<%- process.processName.replace(".json", "").split("/").reverse()[0] %>
			</a><br>
		<% } ) %>

</form>