<button id="closeServiceView" type="button" class="close">×</button>

<div class="row">
  <div class="column-6">
    <p>
      <label>Id:
        <%-id%>
      </label>
    </p>

    <p>
      <label>Text:</label>
      <% if(text) { %>
        <input type="text" name="text" value="<%-text%>" taskname>
        <% } else { %>
          <input type="text" name="text" taskname>
          <% } %>
    </p>

    <p>
      <label>Services:</label>
      <ul class="list-unstyled">
        <% _.each(services, function(service, i) { %>
          <li><i class="fa fa-circle"></i>
            <% var name=_ .find(service, function(s) { return s.name=='service' ; }); if(name) { %><a id=<%- i %> service><%-name.value.split(",")[1]
					%></a>
              <% } else { %><a id=<%- i %> service>Undefined Service</a>
                <% } %>
                  <a id=<%- i %> delete class="close">x</a>
          </li>
          <% } ) %>
            <br>
            <li><i class="fa fa-plus"></i><a id="addService">Add Service</a>
            </li>
      </ul>
  </div>
  <div class="column-1">&nbsp;</div>
  <div class="column-8">
    <div id="objectPropertyView"></div>
  </div>
  </p>
</div>
